#Exemplo de arquivo .env para configuração do projeto de Turismo
# # ==========================================
# # BACKEND (NestJS)
# # ==========================================
# PORT=3000
# NODE_ENV=development

# # URL de conexão com o banco (Use a String do Neon DB em produção)
# DATABASE_URL="postgresql://root:rootpassword@localhost:5432/turismo_db?schema=public"

# # Configurações de Segurança
# JWT_SECRET="insira_uma_chave_secreta_e_longa_aqui_para_assinatura_do_token"
# JWT_EXPIRES_IN="1d"

# # Integração Externa (Previsão do Tempo / OpenWeather)
# WEATHER_API_KEY="sua_chave_da_api_openweathermap"
# WEATHER_API_URL="https://api.openweathermap.org/data/2.5"

# # Configurações de Upload
# MAX_FILE_SIZE=5242880 # 5MB em Bytes

# # ==========================================
# # FRONTEND (Vue.js / Vite)
# # ==========================================
# # No Vite, variáveis públicas precisam começar com VITE_
# VITE_API_URL="http://localhost:3000"
#FimExemplo