POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=northeasTour

DB_PORT=5433
BACKEND_PORT=3000
FRONTEND_PORT=5173

DATABASE_URL=postgresql://postgres:postgres@localhost:5433/northeasTour?schema=public
VITE_API_URL=http://localhost:3000
CORS_ORIGIN=http://localhost:5173,http://127.0.0.1:5173

JWT_SECRET="segredo_muito_secreto_da_api_extremamente_segura"
JWT_EXPIRES_IN="1m"
JWT_REFRESH_EXPIRES_IN="7d"
CODIGO_GUIA="018365"
ENABLE_SWAGGER = true