# Dependências
node_modules/
dist/
.nuxt
.output

# Variáveis de ambiente locais (Contêm dados sensíveis!)
.env
.env.local
.env.*.local

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Sistema Operacional e Editores
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.swp
/generated/prisma
